/*****************************
GENERAL
*****************************/

body {
  font-family: 'Handlee', cursive;
}

a {
text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  list-style: none;
  text-align: center;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

.pewPhotos {
  display: block;
  list-style-type: none;
  border-radius: 2%;
  max-width: 75%;
  margin-left: auto;
  margin-right:auto;

}



/*****************************
HEADING
*****************************/

/* header color */
header {
 background-color: rgba(102,204,255,1);
 padding: 5px 0 0 0;
 width: 100%;
 text-align: center;
 background: linear-gradient(rgba(255,255,255,.4), rgba(102,204,255,.001));

}

/*logo text*/
h1,h2 {
  color: #fff;
  text-shadow: black .02em .02em;
  }

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  margin: 15px 0;
  font-size: 8em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: center;
}

h2 {
  Font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/*****************************
NAVIGATION
*****************************/

nav {
  text-align: center;
  padding: 20px 0;
  margin: 20px  0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/*****************************
FOOTER
*****************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*****************************
Page: PORTFOLIO
*****************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #000;
  color: #bdc323;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
  
}


/*****************************
PAGE: ABOUT
*****************************/
.profile-photo {
  display: block;
  max-width: 250px;
  margin: 0 auto 30px;
  border-radius: 5%;
}


/*****************************
PAGE: CONTACT
*****************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
 }

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

/*****************************
COLORS
*****************************/



/* Site body */
body {
  background: rgba(222,333,333,333);
  background: linear-gradient(rgba(102,204,255,1), rgba(255,255,255,1));

 }

/* Anchors*/
a {
  color: #111;
}


/* nav background on mobile */

nav {
  
}

nav a, nav a:visited {
  color: #666;
}

nav a.selected, nav a:hover {
  color: #000;
}

